<?xml version="1.0"?>

<model>
  <name>april_tag</name>
  <version>1.0</version>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Ciro Potena</name>
    <email>potena@dis.uniroma1.it</email>
  </author>

  <description>
    An April Tag.
  </description>

</model>
